$dark: true;
$light: false;
$topbar: 'dark';

@use '../../sass/_variables' as v with ($dark: $dark, $light: $light);
@use '../../sass/_colors' as c with ($dark: $dark, $light: $light);
@use '../../sass/gtk/_drawing-4.0';
@use '../../sass/gtk/_common-4.0';
@use '../../sass/gtk/_apps-4.0';
@use '../../sass/gtk/_colors-public';
