// sass/_tweaks.scss

$opacity: 'default';
$theme: 'selection_bg'; 
$compact: 'false'; 
$translucent: 'true';
$panel_opacity: 0.9;
$darker: 'false'; 
$color_type: 'custom';
$rimless: 'true';
$sidebar: 'styled';
$shell_version: '46'; 
$float: 'false'; 
$colorful: 'false'; 
$default_corner: 10px;
