// sass/_variables.scss

@use '_tweaks' as t;
@forward '_color-palette';

// Theme variant settings
$dark: true !default;    
$light: false !default; 

// Asset suffix based on dark theme
$asset-suffix: if($dark, '-dark', '');

// Sizes
$space-size: if(t.$compact == 'false', 6px, 4px); 
$small-size: if(t.$compact == 'false', 24px, 22px); 
$medium-size: if(t.$compact == 'false', 36px, 32px); 
$large-size: if(t.$compact == 'false', 48px, 40px); 
$menuitem-size: if(t.$compact == 'false', 28px, 24px); 
$root-font-size: if(t.$compact == 'false', 14px, 13px); 

// Radii 
$modal-radius: t.$default_corner !default; 
$corner-radius: t.$default_corner !default; 
$menu-radius: if(t.$compact == 'false', $corner-radius + $space-size, $corner-radius); 
$window-radius: if(t.$compact == 'false', $corner-radius + $space-size, $corner-radius); 
$circular-radius: 9999px; 

// Durations
$duration: 75ms; 
$ripple-fade-in-duration: 225ms; 
$ripple-fade-out-duration: 300ms; 
$ripple-fade-out-opacity-duration: 1200ms; 

// Timing Functions
$ease: cubic-bezier(0.4, 0.0, 0.2, 1); 
$ease-out: cubic-bezier(0.0, 0.0, 0.2, 1); 
$ease-in: cubic-bezier(0.4, 0.0, 1, 1); 
$ease-in-out: cubic-bezier(0.4, 0.0, 0.6, 1); 

// Transition Shorthands
$transition: all $duration $ease-out; 
$transition-shadow: box-shadow $duration $ease-out; 

// Shadows
$shadow-z1: 
  0 1px 1px rgba(if(not $dark, black, white), if(not $dark, 0.12, 0.24)),
  0 1px 2px rgba(if(not $dark, black, white), if(not $dark, 0.24, 0.12)),
  0 2px 3px rgba(if(not $dark, black, white), if(not $dark, 0.17, 0.12));
$shadow-z2: 
  0 1px 1px rgba(if(not $dark, black, white), if(not $dark, 0.24, 0.12)),
  0 1px 3px rgba(if(not $dark, black, white), if(not $dark, 0.12, 0.24));
$shadow-z3: 
  0 1px 1px rgba(if(not $dark, black, white), if(not $dark, 0.2, 0.14)),
  0 3px 4px rgba(if(not $dark, black, white), if(not $dark, 0.14, 0.2)),
  0 1px 5px rgba(if(not $dark, black, white), if(not $dark, 0.12, 0.14));
$shadow-z4: 
  0 1px 2px rgba(if(not $dark, black, white), if(not $dark, 0.2, 0.14)),
  0 3px 4px rgba(if(not $dark, black, white), if(not $dark, 0.14, 0.2)),
  0 1px 6px rgba(if(not $dark, black, white), if(not $dark, 0.12, 0.14));
$shadow-z12: 
  0 3px 4px rgba(if(not $dark, black, white), if(not $dark, 0.2, 0.14)),
  0 12px 14px rgba(if(not $dark, black, white), if(not $dark, 0.14, 0.2)),
  0 9px 18px rgba(if(not $dark, black, white), if(not $dark, 0.12, 0.14));
$shadow-z16: 
  0 3px 8px rgba(if(not $dark, black, white), if(not $dark, 0.2, 0.14)),
  0 10px 18px rgba(if(not $dark, black, white), if(not $dark, 0.14, 0.2)),
  0 8px 24px rgba(if(not $dark, black, white), if(not $dark, 0.12, 0.14));
