// sass/gtk/apps/_evince.scss
@use '../_common-3.0' as gtk;

.ev-view-window {
  background-color: $theme_bg;
  color: $theme_fg;
  border: 1px solid $border;
  border-radius: $corner-radius;
}

.ev-sidebar {
  background-color: $sidebg;
  color: $theme_fg;
  border: 1px solid $side-border;
  border-radius: $corner-radius;
}

.ev-sidebar button:hover {
  background-color: $theme_selection_bg;
  color: $theme_selection_fg;
}
