// sass/gtk/apps/_firefox.scss
@import '../../gtk';

window#mozilla {
  background-color: $theme_bg;
  color: $theme_fg;
  border: 1px solid $border;
  border-radius: $corner-radius;
}

toolbarbutton:hover {
  background-color: $theme_selection_bg;
  color: $theme_selection_fg;
}

tab {
  background-color: $base-alt;
  border: 1px solid $border;
  border-radius: $corner-radius;
}

tab[selected="true"] {
  background-color: $primary;
  color: on($primary);
}
