// sass/gtk/apps/_gnome-calculator.scss
@import '../../gtk';

.calculator-display {
  background-color: $base-alt;
  color: $theme_fg;
  border: 1px solid $border;
  border-radius: $corner-radius;
}

.calculator-button {
  background-color: $button;
  border: 1px solid $border;
  border-radius: $corner-radius;
  padding: $space-size;
}

.calculator-button:hover {
  background-color: $theme_selection_bg;
  color: $theme_selection_fg;
}
