// sass/gtk/apps/_mate.scss
@use '../_common-3.0' as gtk;

.mate-panel {
  background-color: $theme_bg;
  color: $theme_fg;
  border: 1px solid $border;
  border-radius: $corner-radius;
}

.mate-panel button:hover {
  background-color: $theme_selection_bg;
  color: $theme_selection_fg;
}
