// sass/gtk/apps/_wofi.scss
@use '../_common-3.0' as gtk;

window#wofi {
  background-color: $theme_bg;
  color: $theme_fg;
  border: 1px solid $border;
  border-radius: $corner-radius;
}

#wofi button:hover {
  background-color: $theme_selection_bg;
  color: $theme_selection_fg;
}
